{% extends 'base.html' %}
{% block body %}
<div>

 <h3>Add a new player</h3>



  <form method="POST" action="{{ url_for('add_player') }}">


    {{ form.csrf_token }}
    {{ form.first_name.label }} {{ form.first_name(size=20) }}
    {{ form.last_name.label }} {{ form.last_name(size=20) }}
    {{ form.clubteam.label }} {{ form.clubteam(size=20) }}
    {{ form.nationality.label }} {{ form.nationality(size=20) }}


    <input type="submit" value="Add Player">

  </form>

</div>
{% endblock %}
