
{% extends 'base.html' %}

{% block body %}
<p><a href="{{ url_for('.add_dog')}}"> Add a new dog</a>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id='flash'>
  {% for message in messages %}
  <strong>Alert!</strong> {{ message }}
  <button type="close" value="x">
  </button>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

{% if players %}
    <table>
        <thead>
            <tr>
                <th>soccer_playerId</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>clubteam</th>
                  <th>nationality</th>

            </tr>
        </thead>

      <tbody>

            {% for row in player %}      <tr>

                <td> {{ row.dogId }}</td>
                <td> {{ row.dogName }}</td>
                <td> {{ row.age }}</td>
                <td> {{ row.breed }}</td>

      <td>
        <form action="/delete_player/{{ row.soccer_playerId }}" method="POST">
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
      </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
